.inner-container {
    padding-left: 40px;
}



/* Media Querries */

@media (max-width: 991.98px) {

    .inner-container {
        padding-left: 20px;
    }
}

@media (max-width: 800.98px) {
    
    .inner-container {
        padding-left: 0px;
    }

}


@media (max-width: 555.98px) {
    .inner-container {
        padding-left: 10px;
    }
}




@media (max-width: 390px) {
    
    .inner-container {
        padding-left: 0px;
    }
}

