a,li{
    color: black;
    font-size: larger;
}

a:hover{
    opacity: 0.7;
    color: grey;
}

.image-logo{
    width: 120px;
}

.header-links{
    display:  flex;
    align-items: center;
    justify-content: center;
    
}
.bhawa-font{
    font-size: xx-large;
}



/* Media Querries */

@media (max-width: 765.98px) {
    a,li{
        font-size:small;
    }

    .bhawa-font{
        display: none;
    }

    .image-logo{
        margin-top:10px;
        width: 90px;
    }
}